<meta charset="UTF-8">
<title>notefolio</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" /><!-- Mobile -->

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon/favicon.ico"> <!-- 추가 -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link href="/user/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/user/css/style.css" rel="stylesheet" type="text/css" />
<link href="/font/font.css" rel="stylesheet" type="text/css" />
<link href="/lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

<!-- include google-code-prettify -->
<link rel="stylesheet" href="https://rawgit.com/google/code-prettify/master/src/prettify.css"/>
<script type="text/javascript" src="https://rawgit.com/google/code-prettify/master/src/prettify.js"></script>

<!-- JS -->
<!-- jQuery 3.6.0 -->
<script src="/lib/jquery/jquery-3.6.0.min.js"></script>

<!-- jQuery UI(sortDrag) -->
<script src="/lib/jqueryUi/jquery-ui.min.js"></script>

<!-- Validate -->
<script src="/lib/jqueryValidate/jquery.validate.min.js"></script>
<script src="/lib/jqueryValidate/additional-methods.min.js"></script>

<!-- lodash -->
<script src="/lib/lodash.min.js"></script>

<!-- Infinity ajax scroll -->
<script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>

<!-- common -->
<script src="/admin/js/common.js"></script>
