<nav class="navi">
    <div class="mode">
        <input type="checkbox" name="modeChk" id="modeChk" value="1" class="mode-chk">
        <label for="modeChk"><span class="ir">다크모드/라이트모드</span></label>
    </div>
    <span class="navi-gradient left"></span><!-- 왼쪽 메뉴 그라데이션 -->
    <h1><a href="/"><span class="ir">포트폴리오</span></a></h1>
    <div class="navi-main">
        <div class="navi-main-box">
            <ul id="mainCategory"></ul>
        </div>
    </div>
    <div class="horizonScroll">
        <div id="subCategory" class="sub-category horizonScroll__wrapper"></div>
    </div>
    <span class="navi-gradient right"></span><!-- 오른쪽 메뉴 그라데이션 -->
    <!-- 하단 선 -->
    <div class="navi-border">
        <div class="navi-line"></div>
    </div>
</nav>