<link href="/user/css/profile.css" rel="stylesheet" type="text/css" />
<div class="profiler">
    <header class="head">
        <h1>Kim Jeonggyu.</h1>
        <h2>Design Portfolio</h2>
        <p class="profile-img ir">이미지</p>
        <dl>
            <dt>mail</dt>
            <dd>breakyu@naver.com</dd>
            <dt>instagram</dt>
            <dd>@kimjeong9_9</dd>
        </dl>
    </header>
    <article class="career">
        <h2>Career</h2>
        <section>
            <div>
                <p class="tit">Graphic Designer<br>in TheFrom</p>
                <p class="line"></p>
                <p class="date">2020-2022</p>
            </div>
            <div>
                <p class="tit">Advertisement Designer<br>in Twohands Creative</p>
                <p class="line"></p>
                <p class="date">2015 - 2019</p>
            </div>
            <div>
                <p class="tit">Graphic, Brand Designer<br>in Treenod Inc.</p>
                <p class="line"></p>
                <p class="date">2014</p>
            </div>
        </section>
    </article>
    <article class="skills">
        <h2>Skills</h2>
        <section>
            <div>
                <div class="skills-item01"><span>Photoshop</span></div>
                <div class="skills-item02"><span>Blender 3D</span></div>
            </div>
            <div>
                <div class="skills-item03">
                    <div><span>Illustrator</span></div>
                    <div><span>Indesign</span></div>
                </div>
                <div class="skills-item04"><span>After Effect</span></div>
            </div>
        </section>
    </article>
</div>