<link href="/user/css/profile.css" rel="stylesheet" type="text/css" />

<section class="profiler">
    <section class="section01">
      <figure>
        <figcaption></figcaption>
        <audio controls loop src="/public/audio/rain.mp3">
          <a href="/public/audio/rain.mp3"></a>
        </audio>
      </figure>
      <div class="web_text">
        <p>What technology was this website made with?</p>
        <ul class="front_tech">
          <li><span>Client</span> - </li>
          <li>html</li>
          <li>css</li>
          <li>Javascript</li>
          <li>Ajax</li>
        </ul>
        <ul class="back_tech">
          <li><span>Server</span> - </li>
          <li>Node.js</li>
          <li>MySQL</li>
        </ul>
      </div>
      <div class="text">
        <p>Doodle <br>Portfolio</p>
        <ul>
          <li>Web Publisher</li>
          <li>Artwork</li>
          <li>Project</li>
        </ul>
      </div>
      <canvas id="rain"></canvas>
      <canvas id="tree"></canvas>
      <!-- 저작권 -->
      <div class="copy">
        <p>Copyright</p>
        <dl>
          <dt>#자바스크립트 Canvas로 비내리는 배경효과</dt>
          <dd>@yummycoding</dd>
          <dd><a href="https://www.youtube.com/shorts/hioaTa_7t9A" target="_blank">https://www.youtube.com/shorts/hioaTa_7t9A</a></dd>
        </dl>
        <dl>
          <dt>#자라나는 나무 만들기</dt>
          <dd>@heekang</dd>
          <dd><a href="https://velog.io/@heekang/Vanilla-JS-%EC%9E%90%EB%9D%BC%EB%82%98%EB%8A%94-%EB%82%98%EB%AC%B4-%EB%A7%8C%EB%93%A4%EA%B8%B0-1">https://velog.io/@heekang</a></dd>
        </dl>
      </div>
    </section>
    
    <!-- section02 -->
    <section class="section02">
      <div class="main-content-1">
        <div class="sticky">
          <div class="sticky-background">
            I can use these techniques
          </div>
          <div class="card-frame">
            <div class="card">
              <div class="front">
                <div class="icon_css">
                  <div class="icon_img"></div>
                  <p>CSS</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_html">
                  <div class="icon_img"></div>
                  <p>HTML</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_jquery">
                  <div class="icon_img"></div>
                  <p>jQuery</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_js">
                  <div class="icon_img"></div>
                  <p>Javascript</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_react">
                  <div class="icon_img"></div>
                  <p>React.js</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_node">
                  <div class="icon_img"></div>
                  <p>NODE.js</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_xd">
                  <div class="icon_img"></div>
                  <p>XD</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_photoshop">
                  <div class="icon_img"></div>
                  <p>Photoshop</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section03 -->
    <section class="section03">
      <div class="section_box">
        <div class="velog">
          <p>
            <svg class="velogo" width="192" height="192" viewBox="0 0 192 192" fill=""><path fill-rule="evenodd" clip-rule="evenodd" d="M24 0H168C181.255 0 192 10.7451 192 24V168C192 181.255 181.255 192 168 192H24C10.7451 192 0 181.255 0 168V24C0 10.7451 10.7451 0 24 0ZM49 57.9199V65.48H67L80.6799 142.52L98.5 141.26C116.02 119.06 127.84 102.44 133.96 91.3999C140.2 80.24 143.32 70.9399 143.32 63.5C143.32 59.0601 142 55.7 139.36 53.4199C136.84 51.1399 133.66 50 129.82 50C122.62 50 116.62 53.0601 111.82 59.1799C116.5 62.3 119.68 64.8799 121.36 66.9199C123.16 68.8401 124.06 71.4199 124.06 74.6599C124.06 80.0601 122.44 86.1799 119.2 93.02C116.08 99.8601 112.66 105.92 108.94 111.2C106.54 114.56 103.48 118.7 99.76 123.62L88.0601 57.2C87.1001 52.3999 84.1001 50 79.0601 50C76.78 50 72.3999 50.96 65.9199 52.8799C59.4399 54.6799 53.8 56.3601 49 57.9199Z" fill="currentColor"></path></svg>
          </p>
          <div>
            <p class="brand">Velog</p>
            <p>Doodle Drawing Book</p>
            <a href="#;">https://velog.io/@kn</a>
          </div>
        </div>
        <div class="tistory">
          <p>
            <svg class="tistorylogo" width="100%" height="100%" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
              <g id="icon" transform="matrix(1.04895,0,0,1.04895,38.4615,44.7552)">
                  <g transform="matrix(1.00704,0,0,1.00704,-13.169,30.1761)">
                      <circle cx="166" cy="117" r="142" style="fill:rgb(234,82,32);"/>
                  </g>
                  <g>
                      <g transform="matrix(0.986042,0,0,0.986042,0.428741,-1.92393)">
                          <circle cx="93" cy="103" r="25" style="fill:white;"/>
                      </g>
                      <g transform="matrix(0.986042,0,0,0.986042,62.2981,-1.92393)">
                          <circle cx="93" cy="103" r="25" style="fill:white;"/>
                      </g>
                      <g transform="matrix(0.986042,0,0,0.986042,62.2981,59.9454)">
                          <circle cx="93" cy="103" r="25" style="fill:white;"/>
                      </g>
                      <g transform="matrix(0.986042,0,0,0.986042,62.2981,121.815)">
                          <circle cx="93" cy="103" r="25" style="fill:white;"/>
                      </g>
                      <g transform="matrix(0.986042,0,0,0.986042,124.167,-1.92393)">
                          <circle cx="93" cy="103" r="25" style="fill:white;"/>
                      </g>
                  </g>
              </g>
          </svg>
          
          </p>
          <div>
            <p class="brand">Tistory</p>
            <p>웹&앱개발하는 낙서의 블로그 입니다. 그 외 만화, 게임</p>
            <p>스포츠, 쇼핑, 영화 등 다양한 주제에도 관심이 많습니다.</p>
            <a href="#;">https://doodle.tistory.com/</a>
          </div>
        </div>
        <div class="github">
          <p>
            <svg class="githublogo" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"/></svg>
          </p>
          <div>
            <p class="brand">GitHub</p>
            <p>I’m currently learning React</p>
            <p>The ultimate goal is to create a React-native app.</p>
            <a href="#;">https://github.com/username</a>
          </div>
        </div>
      </div>
    </section>

</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/user/js/profile.js"></script>
<script src="/user/js/treeIndex.js" type="module"></script>
