<link href="/user/css/profile.css" rel="stylesheet" type="text/css" />

<section class="profiler">
    <section class="section01">
      <canvas id="rain"></canvas>
      <canvas id="tree"></canvas>
    </section>
    <!-- <section class="section02">
        
    </section> -->


    <p></p>
</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/user/js/profile.js"></script>
<script src="/user/js/treeIndex.js" type="module"></script>
