<link href="/user/css/profile.css" rel="stylesheet" type="text/css" />

<section class="profiler">
    <section class="section01">
      <figure>
        <figcaption></figcaption>
        <audio controls loop src="/public/audio/rain.mp3">
          <a href="/public/audio/rain.mp3"></a>
        </audio>
      </figure>
      <div class="text">
        <p>Doodle <br>Portfolio</p>
        <ul>
          <li>Web Publisher</li>
          <li>Artwork</li>
          <li>Project</li>
        </ul>
      </div>
      <canvas id="rain"></canvas>
      <canvas id="tree"></canvas>
    </section>
    
    <!-- section02 -->
    <section class="section02">
      <div class="main-content-1">
        <div class="sticky">
          <div class="sticky-background">
            I can use these techniques
          </div>
          <div class="card-frame">
            <div class="card">
              <div class="front">
                <div class="icon_css">
                  <div class="icon_img"></div>
                  <p>CSS</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_html">
                  <div class="icon_img"></div>
                  <p>HTML</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_jquery">
                  <div class="icon_img"></div>
                  <p>jQuery</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_js">
                  <div class="icon_img"></div>
                  <p>Javascript</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_react">
                  <div class="icon_img"></div>
                  <p>React.js</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_node">
                  <div class="icon_img"></div>
                  <p>NODE.js</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="front">
                <div class="icon_xd">
                  <div class="icon_img"></div>
                  <p>XD</p>
                  <p class="progress"></p> 
                </div>
              </div>
              <div class="back">
                <div class="icon_photoshop">
                  <div class="icon_img"></div>
                  <p>Photoshop</p>
                  <p class="progress"></p> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/user/js/profile.js"></script>
<script src="/user/js/treeIndex.js" type="module"></script>
